.navbar {
  align-items: flex-start; 
  display: flex;
  justify-content:space-around;
  background-color: #ffa500;
}

body {background-color: #FF8C69;}

h1 {
	width: 100%;
	text-align: center;
}
p {
	width: 100%;
	justify-content: center;
	text-align:center;
}
.news{
	width: 33.3%;

}
.content{
	flex-wrap: wrap;
	display: flex;
}